<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MinBagStrength" value="1"/>
    <add key="MaxBagStrength" value="50"/>
    <add key="MaxItemTypes" value="50"/>
    <add key="MaxItemTypeNameLength" value="50"/>
    <add key="ItemTypeNameValidation" value="^[A-Z]*$"/>
  </appSettings>
</configuration>